@model ProductManagerApp.Domain.Core.Product
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ProductId)
        <div class="form-horizontal col-md-offset-2 col-md-8">
            <h3>Edit product</h3>
            <div class="form-group">
                @Html.LabelFor(model => Model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => Model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => Model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.Description)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Price, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => Model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.Price)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                    <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index")'" />
                </div>
            </div>
        </div>
    }
