@model IEnumerable<ProductManagerApp.Domain.Core.Log>
@{
    ViewBag.Title = "Logs";
}
<style>
    .log{
        padding: 5px;
        width: 800px;
        height: 400px;
        overflow-y: scroll;
        overflow-x: scroll;
    }
</style>
<div>
    <h3>Logs</h3>
    @if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LogId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActionDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerializedRequest)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LogId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionDescription)
                </td>
                <td>
                    <div class="log">
                        @Html.DisplayFor(modelItem => item.SerializedRequest)
                    </div>
                </td>
            </tr>
            }

        </table>

    }
</div>

